{% extends "/layout/template.php.twig" %}

{% block title %}Dashboard{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="content pb-5 mb-5 mt-5">
        {% block jumbotron %}
            {{ parent() }}
        {% endblock %}
        <div class="container">
            <div class="text-left">
                <h2 class="font-acme text-uppercase">Manage game levels</h2>
                <hr align="left" class="w-50 pb-4">
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-12 shadow-sm mb-4 p-4">
                    <a class="btn btn-block btn-dark text-uppercase rounded-pill font-acme" href="{{ path_for('new.level') }}">new level <span>&#10010;</span></a>
                    <a class="btn btn-block btn-dark text-uppercase rounded-pill font-acme" href="{{ path_for('dashboard') }}">dashboard <span>&#10070;</span></a>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-12 shadow-sm mb-4 p-4 pl-0 pr-0">

                    {% if level is defined %}

                        <form method="post" action="{{ path_for('update.level', { 'id' : level.id}) }}" class="container font-acme">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control rounded-pill" id="name" name="name" aria-describedby="name" value="{{ level.name }}" required>
                            </div>
                            <div class="form-group">
                                <label for="total_coins">Total coins:</label>
                                <input type="number" class="form-control rounded-pill" id="total_coins" name="total_coins" aria-describedby="total_coins" value="{{ level.total_coins }}" min="1" required>
                            </div>
                            <div class="form-group">
                                <label for="total_stars">Total stars:</label>
                                <input type="number" class="form-control rounded-pill" id="total_stars" name="total_stars" aria-describedby="total_stars" value="{{ level.total_stars }}" min="1" required>
                            </div>

                            <button type="submit" class="btn btn-outline-dark rounded-pill text-uppercase">update</button>
                        </form>

                    {% else %}

                        <form method="post" action="{{ path_for('store.level') }}" class="container font-acme">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control rounded-pill" id="name" name="name" aria-describedby="name" required>
                            </div>
                            <div class="form-group">
                                <label for="total_coins">Total coints:</label>
                                <input type="number" class="form-control rounded-pill" id="total_coins" name="total_coins" aria-describedby="total_coins" min="1" required>
                            </div>
                            <div class="form-group">
                                <label for="total_stars">Total stars:</label>
                                <input type="number" class="form-control rounded-pill" id="total_stars" name="total_stars" aria-describedby="total_stars" min="1" required>
                            </div>
                            <button type="submit" class="btn btn-outline-dark rounded-pill text-uppercase">save</button>
                        </form>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
